<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miracle.extra.mapper.SunwodaToolingMoldImportMapper">

    <resultMap type="SunwodaToolingMoldImport" id="SunwodaToolingMoldImportResult">
        <result property="projectName" column="projectName"/>
        <result property="itemCode" column="itemCode"/>
        <result property="itemName" column="itemName"/>
        <result property="processName" column="processName"/>
        <result property="equipmentName" column="equipmentName"/>
        <result property="toolingMoldName" column="toolingMoldName"/>
        <result property="toolingMoldCode" column="toolingMoldCode"/>
        <result property="designLife" column="designLife"/>
        <result property="startTime" column="startTime"/>
        <result property="usedCount" column="usedCount"/>
        <result property="utilizationRate" column="utilizationRate"/>
        <result property="firstWarningTime" column="firstWarningTime"/>
        <result property="endOfLifeTime" column="endOfLifeTime"/>
        <result property="newToolingMoldCode" column="newToolingMoldCode"/>
        <result property="changer" column="changer"/>
        <result property="dataUploadTime" column="create_time"/>
    </resultMap>

    <sql id="selectSunwodaToolingMoldImportVo">
        select *
        from V_MES_FistInspectionToXWD
    </sql>


    <select id="selectSunwodaToolingMoldImportList" parameterType="SunwodaToolingMoldImport" resultMap="SunwodaToolingMoldImportResult">
        <include refid="selectSunwodaToolingMoldImportVo"/>
        <where>
            <if test="projectName != null and projectName != ''"> and projectName like concat('%', #{projectName}, '%')</if>
            <if test="itemCode != null and itemCode != ''"> and itemCode like concat('%', #{itemCode}, '%')</if>
            <if test="itemName != null and itemName != ''"> and itemName like concat('%', #{itemName}, '%')</if>
            <if test="processName != null and processName != ''"> and processName like concat('%', #{processName}, '%')</if>
            <if test="equipmentName != null and equipmentName != ''"> and equipmentName like concat('%', #{equipmentName}, '%')</if>
            <if test="toolingMoldName != null and toolingMoldName != ''"> and toolingMoldName like concat('%', #{toolingMoldName}, '%')</if>
            <if test="toolingMoldCode != null and toolingMoldCode != ''"> and toolingMoldCode like concat('%', #{toolingMoldCode}, '%')</if>
            <if test="designLife != null and designLife != ''"> and designLife like concat('%', #{designLife}, '%')</if>
            <if test="startTime != null and startTime != ''"> and startTime &gt;= #{startTime}</if>
            <if test="usedCount != null and usedCount != ''"> and usedCount like concat('%', #{usedCount}, '%')</if>
            <if test="utilizationRate != null and utilizationRate != ''"> and utilizationRate like concat('%', #{utilizationRate}, '%')</if>
            <if test="firstWarningTime != null"> and firstWarningTime &gt;= #{firstWarningTime}</if>
            <if test="endOfLifeTime != null"> and endOfLifeTime &gt;= #{endOfLifeTime}</if>
            <if test="newToolingMoldCode != null and newToolingMoldCode != ''"> and newToolingMoldCode like concat('%', #{newToolingMoldCode}, '%')</if>
            <if test="changer != null and changer != ''"> and changer like concat('%', #{changer}, '%')</if>
            <if test="dataUploadTime != null"> and create_time &gt;= #{dataUploadTime}</if>
        </where>
    </select>

    <select id="selectSunwodaToolingMoldImportListByDate" parameterType="SunwodaToolingMoldImport" resultMap="SunwodaToolingMoldImportResult">
        <include refid="selectSunwodaToolingMoldImportVo"/>
        where create_time &gt;= #{date} and create_time &lt; DATE_ADD(#{date}, interval 1 day)
    </select>


</mapper>